<div id="<%= dom_id itinerary %>">
  <p>
    <strong>Title:</strong>
    <%= itinerary.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= itinerary.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= itinerary.end_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= itinerary.user_id %>
  </p>

  <p>
    <strong>Public itinerary:</strong>
    <%= itinerary.public_itinerary %>
  </p>

<div class="container mt-5 mb-5">
	<div class="row">  
    <div class="">
			<h4><%= itinerary.title %></h4>
			<ul class="timeline">
      <% itinerary.line_items.each_with_index do |line_item, index| %>
                            <% unless index == 0 %>
                <%= Google::Maps.distance(line_item.golf_course.golf_club.full_address, itinerary.line_items[index-1].golf_course.golf_club.full_address) %>
                <%= Google::Maps.duration(line_item.golf_course.golf_club.full_address, itinerary.line_items[index-1].golf_course.golf_club.full_address) %>
                <%end%>
				<li>
                <div class="border rounded shadow-sm p-3">
                <div class="row">
                  <div class="col">
                    <%= link_to "#{line_item.golf_course.proper_name}", line_item.golf_course.golf_club %>
                  </div>
                  <div class="col">
                     <%= line_item.date %>
                  </div>
                  <div class="col">
                  <%= button_to 'Delete', line_item, :method => :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                
                </div>
                
                </div>
				</li>
        <%end%>
		
			</ul>
		</div>

	</div>
</div>


<br>
</div>

<script>
$(document).ready(function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>