<div id="<%= dom_id itinerary %>">
  <p>
    <strong>Title:</strong>
    <%= itinerary.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= itinerary.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= itinerary.end_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= itinerary.user_id %>
  </p>

  <p>
    <strong>Public itinerary:</strong>
    <%= itinerary.public_itinerary %>
  </p>

<div class="container mt-5 mb-5">
	<div class="row">  
    <div class="col-md-6 offset-md-3">
			<h4>Latest News</h4>
			<ul class="timeline">
      <% itinerary.line_items.each_with_index do |line_item, index| %>
                            <% unless index == 0 %>
                <%= Google::Maps.distance(line_item.golf_club.full_address, itinerary.line_items[index-1].golf_club.full_address) %>
                <%= Google::Maps.duration(line_item.golf_club.full_address, itinerary.line_items[index-1].golf_club.full_address) %>
                <%end%>
				<li>
            
                

                
                <div class="border rounded shadow-sm p-3">
                <%= link_to "#{line_item.golf_club.club_name}", line_item.golf_club %>
                </div>
                
                
				</li>
  
        <%end%>
				<li>
					<a href="#">21 000 Job Seekers</a>
					<a href="#" class="float-right">4 March, 2014</a>
					<p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
				</li>
				<li>
					<a href="#">Awesome Employers</a>
					<a href="#" class="float-right">1 April, 2014</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>
			</ul>
		</div>

	</div>
</div>

  <% itinerary.line_items.each_with_index do |line_item, index| %>
    
    <% unless index == 0 %>
    <%= Google::Maps.distance(line_item.golf_club.full_address, itinerary.line_items[index-1].golf_club.full_address) %>
    <%= Google::Maps.duration(line_item.golf_club.full_address, itinerary.line_items[index-1].golf_club.full_address) %>
    <%end%>
    <br>
    <div class="border rounded shadow-sm p-3">
    <%= link_to "#{line_item.golf_club.club_name}", line_item.golf_club %>
    </div>
    <br>
    <%end%>
<br>
</div>
