<div id="<%= dom_id golf_club %>">
 




<%#= image_tag(@spot.photos[0].fetch_url(800), class: "img-fluid golf-club-img rounded")%>

<div class="container">
  <div class="row">
    <h2 class=""><%= golf_club.club_name %></h2>
    <h6><%= golf_club.city %>, <%= golf_club.state %></h6>
  </div>
  <div class="row">

  <%#= render 'images' %>

  </div>
  <div class="row mt-4">
    <div class="col-8">
     
      <hr>
      <%= render "amenities", golf_club: @golf_club %>
    </div>
    <div class="col-4">
     <%= render "details", golf_club: @golf_club %>
    </div>
  </div>
  <div class="row ">
      <div class="col-8">
      
      
      </div>
    <div class="col-4">
      
    </div>
  </div>
   <iframe
      width="300"
      height="450"
      style="border:0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=<%=ENV["google_maps_api"]%>&q=<%="#{golf_club.club_name}golf course#{golf_club.city}"%>&zoom=10">
    </iframe>
</div>








 

</div>

<%= render partial: "line_items/form" %>
