<div id="<%= dom_id golf_club %>">
  <p>
    <strong>Club:</strong>
    <%= golf_club.club_id %>
  </p>

  <p>
    <strong>Club name:</strong>
    <%= golf_club.club_name %>
  </p>

  <p>
    <strong>Club membership:</strong>
    <%= golf_club.club_membership %>
  </p>

  <p>
    <strong>Number of holes:</strong>
    <%= golf_club.number_of_holes %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= golf_club.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= golf_club.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= golf_club.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= golf_club.country %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= golf_club.postal_code %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= golf_club.phone %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= golf_club.website %>
  </p>

  <p>
    <strong>Contact name:</strong>
    <%= golf_club.contact_name %>
  </p>

  <p>
    <strong>Contact title:</strong>
    <%= golf_club.contact_title %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= golf_club.email_address %>
  </p>

  <p>
    <strong>Driving range:</strong>
    <%= golf_club.driving_range %>
  </p>

  <p>
    <strong>Putting green:</strong>
    <%= golf_club.putting_green %>
  </p>

  <p>
    <strong>Chipping green:</strong>
    <%= golf_club.chipping_green %>
  </p>

  <p>
    <strong>Practice bunker:</strong>
    <%= golf_club.practice_bunker %>
  </p>

  <p>
    <strong>Motor cart:</strong>
    <%= golf_club.motor_cart %>
  </p>

  <p>
    <strong>Pull cart:</strong>
    <%= golf_club.pull_cart %>
  </p>

  <p>
    <strong>Golf clubs rental:</strong>
    <%= golf_club.golf_clubs_rental %>
  </p>

  <p>
    <strong>Club fitting:</strong>
    <%= golf_club.club_fitting %>
  </p>

  <p>
    <strong>Pro shop:</strong>
    <%= golf_club.pro_shop %>
  </p>

  <p>
    <strong>Golf lessons:</strong>
    <%= golf_club.golf_lessons %>
  </p>

  <p>
    <strong>Caddie hire:</strong>
    <%= golf_club.caddie_hire %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= golf_club.restaurant %>
  </p>

  <p>
    <strong>Reception hall:</strong>
    <%= golf_club.reception_hall %>
  </p>

  <p>
    <strong>Changing room:</strong>
    <%= golf_club.changing_room %>
  </p>

  <p>
    <strong>Lockers:</strong>
    <%= golf_club.lockers %>
  </p>

  <p>
    <strong>Lodging on site:</strong>
    <%= golf_club.lodging_on_site %>
  </p>

  <p>
    <strong>Last update:</strong>
    <%= golf_club.last_update %>
  </p>

</div>

<%= render partial: "line_items/form" %>
