<div id="<%= dom_id golf_club %>">
 
<%  %> 
<% @spot = @client.spots_by_query("#{golf_club.club_name} golf club", detail: true).first %>
<% @spot.photos.each do |photo| %>
<% url = photo.fetch_url(800) %>
<%#= image_tag(url) %>
<%end %>


<div class="container">
  <div class="row">
    <div class="col-8">
       <div><%#= image_tag(@spot.photos[0].fetch_url(600), class: "img-fluid")%></div>
    </div>
    <div class="col-4">

    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <h1 class="m3"><strong> <%= golf_club.club_name %></strong></h1>
      <h5><%= golf_club.city %>, <%= golf_club.state %></h5>
      
    </div>
    <div class="col-2">
      <iframe
      width="300"
      height="450"
      style="border:0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=<%=ENV["google_maps_api"]%>&q=<%="#{golf_club.club_name}golf course#{golf_club.city}"%>&zoom=10">
    </iframe>
    </div>
  </div>
  <div class="row ">
      <div class="col-8">
      <hr>
      <%= render "amenities", golf_club: @golf_club %>
      </div>
    <div class="col-4">
      <%= render "details", golf_club: @golf_club %>
    </div>
  </div>
</div>








 

</div>

<%= render partial: "line_items/form" %>
