<p style="color: green"><%= notice %></p>

<h1>Golf clubs</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :club_name_cont, "Name contains" %>
    <%= f.text_field :club_name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<%end%>

<div id="golf_clubs">
  <% @golf_clubs.each do |golf_club| %>
    <p>
      <%= link_to "#{golf_club.club_name}", golf_club %>
    </p>
  <% end %>
</div>

<%= link_to "New golf club", new_golf_club_path %>

<%= form_tag import_golf_clubs_path, multipart: true do %>
  <%= file_field_tag :file%>
  <%= submit_tag "Import" %>
<%end%>
