<p style="color: green"><%= notice %></p>

<%= image_tag(LinkThumbnailer.generate("#{@golf_club.website}").images.first.src.to_s) %>

<p> <%= LinkThumbnailer.generate("#{@golf_club.website}").description %>  </p>

<%= render @golf_club %>

<div>
  <%= link_to "Edit this golf club", edit_golf_club_path(@golf_club) %> |
  <%= link_to "Back to golf clubs", golf_clubs_path %>

  <%= button_to "Destroy this golf club", @golf_club, method: :delete %>
</div>
