<!DOCTYPE html>
<html>
  <head>
    <title>Golftrek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_api']}&libraries=places&callback=dispatchMapsEvent",
                            async: true,
                            defer: true,
                            "data-turbolinks-eval": false %>
  </head>
  
    <body>
    
    <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="container wrapper">
      <%= yield %>
      </div>
    </body>
  
</html>

