<!DOCTYPE html>
<html>
  <head>
    <title>Golftrek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script>
      let autocomplete;
      function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('autocomplete'),
          {
            types: ['establishment'],
            componentRestrictions: {'country': ['US']},
            fields: ['place_id', 'geometry', 'name']
          }
        );
        autocomplete.addListener('place_changed', onPlaceChanged);
      }

      function onPlacedChanged() {
        var place = autocomplete.getPlace();

        if (!place.geometry) {
          document.getElementById('autocomplete').placeholder = 
          'Enter a place';
        }
        else {
          document.getElementById('details').innerHTML = place.name;
        }
        
        
      }
      </script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['google_maps_api']%>&libraries=places&callback=initAutocomplete">
    </script>
  </head>
  
    <body>
    
    <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="container wrapper">
      <%= yield %>
      </div>
    </body>
  
</html>

